# ... (O cabeçalho do seu job e steps)

      - uses: lowlighter/metrics@latest
        with:
          user: Olikere
          token: ${{ secrets.GH_TOKEN }}

          # Configurações do Plugin
          base: metadata
          plugin_languages: yes
          plugin_languages_details: bytes-size, percentage
          plugin_languages_threshold: 0%
          plugin_isocalendar: no
          plugin_habits: no

          # Configurações do Tema (Novas)
          config_octocat: yes
          config_padding: 0
          config_base: onedark # O tema para cores escuras
          config_timezone: America/Sao_Paulo
          output_dir: .
