name: GitHub Metrics (Minimal)

on:
  schedule:
    - cron: "0 19 * * *"
  workflow_dispatch:

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          user: Olikere
          token: ${{ secrets.GH_TOKEN }}

          # ----------------------
          # SEÇÃO BASE MINIMALISTA
          # ----------------------
          base: header
          base_indepth: no
          base_hireable: no
          repositories_forks: no

          # ----------------------
          # LINGUAGENS (modo clean)
          # ----------------------
          plugin_languages: yes
          plugin_languages_details: percentage
          plugin_languages_limit: 6
          plugin_languages_threshold: 1%
          plugin_languages_sections: most-used
          plugin_languages_indepth: no
          plugin_languages_categories: programming

          # ----------------------
          # VISUAL (MINIMALISTA)
          # ----------------------
          config_base: onedark
          config_padding: 0
          config_timezone: America/Sao_Paulo

          output_dir: .
