name: Metrics

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          user: Olikere
          token: ${{ secrets.GH_TOKEN }}

          base: metadata
          plugin_languages: yes
          plugin_languages_details: bytes-size, percentage
          plugin_languages_threshold: 0%
          plugin_isocalendar: no
          plugin_habits: no

          config_octocat: yes
          config_padding: 0
          config_base: onedark
          config_timezone: America/Sao_Paulo
          output_dir: .
