name: Generate Metrics

on:
  schedule:
    - cron: "0 0 * * *" # Roda a cada 24 horas (meia-noite UTC)
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Sua conta GitHub e o token de acesso (o Secret criado)
          user: Olikere
          token: ${{ secrets.GH_TOKEN }}

          # Configurações básicas
          config_timezone: America/Sao_Paulo 
          template: classic
          base: header, activity, community, repositories, metadata
          output_dir: .
          
          # Plugins (o que você quer mostrar)
          plugin_languages: yes
          plugin_languages_threshold: 0%
          plugin_languages_limit: 8
          plugin_languages_colors: github
          
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
